*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}


/* header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding: 10px 16px;
    z-index: 2;
}

header h1 {
    color: red;
    width: 50%;
}

header a, h1 {
    color: white;
}

.header-navigation ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header-navigation li
{
    margin-right: 20px;
}

/* section du meilleur film */

.best-movie
{
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.best-movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.best-movie-container-image {
    height: auto;
}

.best-movie-image {
    max-height: 100%;
    width: auto;
}

/* catégories */

 #categories 
 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.title-category
{
    text-align: center;
}

.container-category {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.slider {
    --slider-index: 0;
    width: 80%;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transform: translateX(calc(var(--slider-index) * -25%));
    cursor: pointer;
}

.carousel-item {
    flex: 0 0 25%;
    max-width: 25%;
    height: auto;
    padding: 0rem;
    display: flex;
    justify-content: center;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.handle {
    width: 10%;
    background-color: rgba(0,0,0);
    z-index: 1;
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.slider-button:hover {
    font-size: 7rem;
}

/* modal */

.modal {
    display: none;
    flex-direction: column;
    background-color: grey;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    z-index: 3;
}

.modal-header {
    position: relative;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.modal-box-img {
    height: 50%;
}

.modal-img {
    max-height: 100%;
    width: auto;
}

.modal-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.modal-list li {
    padding-bottom: 0.5rem;
}

.info-film {
    font-weight: bold;
    font-size: 1.15rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* Gestion du header fixé */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.sticky + .content {
    padding-top: 102px;
}